<div class="accordion pt-4" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                GetBusVendors / PostBusVendor / PutBusVendors / DeleteBusVendor
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="container-fluid">
                    <div class="row">
                        @if (isOpenForm) {
                        <div class="col-12 pb-4">
                            <div class="card">
                                <form #formRef="ngForm">
                                    <div class="card-header bg-secondary text-white">
                                        {{ newEmployeeObj.employeeId == 0 ? 'Add New Batch' : 'Update Batch' }}
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <label for="fullName">Full Name</label>
                                                <input type="text" class="form-control" [ngClass]="(eName.touched && (eName.errors?.['required'] || eName.errors?.['minlength'])) ? 'filed-error':''" name="fullName"
                                                    placeholder="Enter full name" #eName="ngModel" required
                                                    minlength="4"
                                                    [(ngModel)]="newEmployeeObj.fullName" />
                                                <!-- {{eName.errors?.['required'] | json}} -->
                                                <!-- {{ eName.touched}} -->
                                                @if(eName.touched){
                                                @if(eName.errors?.['required']){
                                                <span class="text-danger">Field is requires</span>
                                                }
                                                @if(eName.errors?.['minlength']){
                                                <span class="text-danger">Enter min char 4 </span>
                                                }
                                                }
                                            </div>
                                            <div class="col-4">
                                                <label for="email">Email</label>
                                                <input type="email" class="form-control" [ngClass]="(eEmail.touched && (eEmail.errors?.['required']||eEmail.errors?.['pattern']))?'filed-error':''" name="email"
                                                    placeholder="Enter email" required pattern="^[^@]+@[^@]+\.[^@]+$"
                                                    #eEmail="ngModel" [(ngModel)]="newEmployeeObj.email" />
                                                @if(eEmail.touched){
                                                @if(eEmail.errors?.['required']){
                                                <span class="text-danger">Field is requires</span>
                                                }
                                                @if(eEmail.errors?.['pattern']){
                                                <span class="text-danger">Enter valid email id</span>
                                                }
                                                }

                                            </div>
                                            <div class="col-4">
                                                <label for="phone">Phone</label>
                                                <input type="tel" class="form-control" [ngClass]="(ePhone.touched && (ePhone.errors?.['required']||ePhone.errors?.['pattern']))?'filed-error':''" name="phone"
                                                    placeholder="Enter phone number" required
                                                    pattern="^\d{10}$"
                                                    #ePhone="ngModel" [(ngModel)]="newEmployeeObj.phone" />
                                                @if(ePhone.touched){
                                                @if(ePhone.errors?.['required']){
                                                <span class="text-danger">Field is requires</span>
                                                }
                                                @if(ePhone.errors?.['pattern']){
                                                <span class="text-danger">Enter Valid Phone Number</span>
                                                }
                                                }
                                            </div>
                                            <div class="col-4">
                                                <label for="gender">Gender</label>
                                                <select class="form-select" [ngClass]="(eGender.touched && eGender.errors?.['required'])?'filed-error':''"
                                                 required name="gender" #eGender="ngModel"
                                                    [(ngModel)]="newEmployeeObj.gender">
                                                    <option value="">Select gender</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                                @if(eGender.touched){
                                                @if(eGender.errors?.['required']){
                                                <span class="text-danger">Select filed is requires</span>
                                                }
                                                }

                                            </div>
                                            <div class="col-4">
                                                <label for="dateOfJoining">Date of Joining</label>
                                                <input type="text" class="form-control" [ngClass]="(eDateOfJoining.touched && eDateOfJoining.errors?.['required'])?'filed-error':''" required name="dateOfJoining"
                                                    #eDateOfJoining="ngModel"
                                                    [(ngModel)]="newEmployeeObj.dateOfJoining" />
                                                @if(eDateOfJoining.touched){
                                                @if(eDateOfJoining.errors?.['required']){
                                                <span class="text-danger">Field is requires</span>
                                                }

                                                }

                                            </div>
                                            <div class="col-4">
                                                <label for="departmentId">Department</label>
                                                <select class="form-select" [ngClass]="(departmentId.touched && departmentId.errors?.['required'])?'filed-error':''"
                                                 (change)="getDesignationByDeptId()"
                                                    name="departmentId" #departmentId="ngModel" required
                                                    [(ngModel)]="newEmployeeObj.departmentId">
                                                    <option value="" selected>Select Department</option>
                                                    @for (item of departmentsList(); track $index) {
                                                    <option [value]="item.departmentId">{{item.departmentName}}</option>
                                                    }
                                                </select>
                                                @if(departmentId.touched){
                                                @if(departmentId.errors?.['required']){
                                                <span class="text-danger">Select filed is requires</span>
                                                }
                                                }
                                            </div>
                                            <div class="col-4">
                                                <label for="designationId">Designation</label>
                                                <select class="form-select" [ngClass]="(designationId.touched && designationId.errors?.['required'])?'filed-error':''" 
                                                required name="designationId"
                                                    #designationId="ngModel"
                                                    [(ngModel)]="newEmployeeObj.designationId">
                                                    <option value="">Select Designation</option>
                                                    @for (item of designationList(); track $index) {
                                                    <option [value]="item.designationId">{{item.designationName}}
                                                    </option>
                                                    }
                                                </select>
                                                @if(designationId.touched){
                                                @if(designationId.errors?.['required']){
                                                <span class="text-danger">Select filed is requires</span>
                                                }
                                                }

                                            </div>
                                            <div class="col-4">
                                                <label for="employeeType">Employee Type</label>
                                                <select class="form-select" [ngClass]="(employeeType.touched && employeeType.errors?.['required'])?'filed-error':''"
                                                 name="employeeType" required
                                                    #employeeType="ngModel" [(ngModel)]="newEmployeeObj.employeeType">
                                                    <option value="">Select type</option>
                                                    @for (item of employeesList(); track $index) {
                                                    <option [value]="item.employeeType">{{item.employeeType}}</option>
                                                    }
                                                </select>
                                                @if(employeeType.touched){
                                                @if(employeeType.errors?.['required']){
                                                <span class="text-danger">Select filed is requires</span>
                                                }


                                                }

                                            </div>
                                            <div class="col-4">
                                                <label for="salary">Salary</label>
                                                <input type="number" class="form-control" [ngClass]="(eSalary.touched && eSalary.errors?.['required'])?'filed-error':''" name="salary"
                                                    placeholder="Enter salary" required #eSalary="ngModel"
                                                    [(ngModel)]="newEmployeeObj.salary" />
                                                @if(eSalary.touched){
                                                @if(eSalary.errors?.['required']){
                                                <span class="text-danger">Field is requires</span>
                                                }
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="d-flex justify-content-end gap-4">
                                            {{formRef.invalid}}
                                            <button class="btn btn-sm btn-secondary"
                                                (click)="onResetForm()">Reset</button>
                                            @if(newEmployeeObj.employeeId==0){
                                            <button class="btn btn-sm btn-success" [disabled]="formRef.invalid"
                                                (click)="onSaveEmployee()">Submit</button>
                                            } @else {
                                            {{ newEmployeeObj.employeeId }}
                                            <button class="btn btn-sm btn-warning"
                                                (click)="onUpdateEmployee()">Update</button>

                                            }
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        }

                        <div class="col-12">
                            <div class="card">
                                <div class="card-header bg-light text-dark d-flex justify-content-between">Batch List
                                    <button [class]="!isOpenForm?'btn btn-sm btn-success':'btn btn-sm btn-warning'"
                                        (click)="openForm()">{{isOpenForm?'Close Employee Form':'Add New Employee'}}</button>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Sl No</th>
                                                <th>Full Name</th>
                                                <th>Email</th>
                                                <th>Phone</th>
                                                <th>Gender</th>
                                                <th>Date Of Joining</th>
                                                <th>EmployeeType</th>
                                                <th>Salary</th>
                                                <th>Department Name</th>
                                                <th>Designation Name</th>
                                                <th>Activity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for(item of employeesList();track $index){
                                            <tr>
                                                <td>{{$index+1}}</td>
                                                <td>{{item.fullName}}</td>
                                                <td>{{item.email}}</td>
                                                <td>{{item.phone}}</td>
                                                <td>{{item.gender}}</td>
                                                <td>{{item.dateOfJoining}}</td>
                                                <td>{{item.employeeType}}</td>
                                                <td>{{item.salary}}</td>
                                                <td>{{item.departmentName}}</td>
                                                <td>{{item.designationName}}</td>
                                                <td>
                                                    <i (click)="editRecord(item.employeeId)"
                                                        class="fa-solid fa-pen-to-square" title="Edit Record"
                                                        style="color: #0041a8"></i>
                                                    <i (click)="deleteRecord(item.employeeId)"
                                                        class="fa-solid fa-trash-can" title="Delete Record"
                                                        style="color: #ff0000"></i>
                                                </td>
                                            </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>