<app-tabs [tabs]="tabName" [activeTab]="activeTabName" (onTabChange)="getCurrentTab($event)"></app-tabs>
<div class="container-fluid">
          <div class="row">
            @if (activeTabName=='Add New Emplyee') {
              <div class="col-12 pb-4">
              <div class="card">
                <div class="card-header bg-secondary text-white">
                  {{ newBatchObj.batchId == 0 ? 'Add New Batch' : 'Update Batch' }}
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12">
                      <label for="batchName" class="label">Batch Name</label>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="newBatchObj.batchName"
                        name="batchName"
                      />
                    </div>
                    <div class="col-6">
                      <label for="createdDate">Created Date</label>
                      <input
                        type="datetime"
                        class="form-control"
                        [(ngModel)]="newBatchObj.createdDate"
                        name="createdDate"
                      />
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="d-flex justify-content-end gap-4">
                    <button class="btn btn-secondary" (click)="onResetForm()">Reset</button>
                     @if(newBatchObj.batchId==0){
                    <button class="btn btn-success" (click)="onSaveBatch()">Submit</button>
                    } @else {
                    {{ newBatchObj.batchId }}
                    <button class="btn btn-warning" (click)="onUpdateBatch()">Update</button>

                    }
                  </div>
                </div>
              </div>
            </div>
            }
            @else if (activeTabName=='Emplyee List') {
              <div class="col-12">
              <div class="card">
                <div class="card-header bg-light text-dark d-flex justify-content-between">Batch List 
                  <!-- <button class="btn btn-sm btn-success" (click)="openForm()">{{isOpenForm?'Close User Form':'Add New User'}}</button> -->
                </div>
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Sl No</th>
                        <th>User Name</th>                        
                        <th>Created Date</th>
                        <th>Activity</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for(item of batchList();track $index){
                        <tr>
                        <td>{{$index+1}}</td>
                        <td>{{item.batchName}}</td>
                        <td>{{item.createdDate}}</td>
                        <td>
                            <i
                              (click)="editRecord(item)"
                              class="fa-solid fa-pen-to-square"
                              title="Edit Record"
                              style="color: #0041a8"
                            ></i>
                            <i
                              (click)="deleteRecord(item.batchId)"
                              class="fa-solid fa-trash-can"
                              title="Delete Record"
                              style="color: #ff0000"
                            ></i>
                        </td>
                      </tr>
                      }
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            }
            
            
            
          </div>
        </div>